{% extends 'Master/Business/BusinessLayout.html' %}
{% load static%}

{% block content %}
    <div class="homepage">
        <h3>Hello World from Index Page</h3>
        <p>This content is injected between the two sections defined in BusinessLayout.html.</p>

        <div class="features">
            <h4>Our Services:</h4>
            <ul>
                <li>Website Design</li>
                <li>Digital Marketing</li>
                <li>SEO Optimization</li>
            </ul>
        </div>
    </div>
{% endblock %}
